<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Index Page</title>
<link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>

	<div class="container-index">
	
	<p style="font-size: 30px">Welcome To TuneHub </p>
	<p style="font-size: 40px;margin-top: -9px; color:rgb(226, 212, 57)">World</p>
	
	<form action="registration">
		<input type="submit" value="REGISTRATION" >
	</form>
	<br>
	<p style="margin-bottom: 2px; font-size: 20px;  font-weight: bold;">Already have an Account ?</p>
	<form action="login">
		<input type="submit" value="LOGIN" style="width: 150px; height: 33px;">
	</form>
	</div>
</body>
</html>